.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.carrocel img {
  width: 200px;  /* Define a largura da imagem */
  height: 300px; /* Define a altura da imagem */
  object-fit: cover; /* Mantém a proporção da imagem, cortando se necessário */
  border-radius: 8px; /* Bordas arredondadas, se desejar */
}

.carrocel {
  display: flex;
  gap: 2px;
  cursor: pointer;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); /* Começa fora da tela à direita */
    opacity: 0; /* Começa transparente */
  }
  100% {
    transform: translateX(0); /* Termina na posição original */
    opacity: 1; /* Torna-se completamente opaco */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}
